[Unit]
Description=Klingel
After=network.target

[Service]
WorkingDirectory=/opt/klingel
ExecStart=/opt/klingel/klingel.py

[Install]
WantedBy=multi-user.target
